<!--<div [ngClass]="{shake: errorMessage}">-->
<h1 mat-dialog-title>Enter the Password</h1>
<mat-dialog-content>
    <form (submit)="validatePassword()">
        <mat-form-field>
            <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password" required>
            <mat-hint [hidden]="errorMessage" [ngStyle]="{'color': 'red'}" align="start">{{errorMessage}}</mat-hint>
        </mat-form-field>
     </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button  mat-raised-button  color="primary" (click)="validatePassword()">Login</button>
</mat-dialog-actions>
<!--</div>-->