h1 {
    display: inline;
    padding-right: 10px;
}

ul 
{
    list-style-type: none;
    padding-left: 0px;
}

.text p { 
  display: inline-block;
  } 

  .text p:first-of-type { 
  width: 100px;
  } 

  .text p:last-of-type { 
      width: 150px;
  }

mat-card {
    background-color: #add8e6
}
  mat-card.weekend {
      background-color: #d3d3d3;
  }
  
  img {max-width:100%;}